.controlled-rate-picker {
    display: flex;
    width: 250px;
    justify-content: space-around;
    background-color: goldenrod;
}

.rating-star {
    margin: 15px 0;
    position: relative;
    display: block;
    color: yellow;
    width: 0px;
    height: 0px;
    border-right: 20px solid transparent;
    border-bottom: 14px solid yellow;
    border-left: 20px solid transparent;
    transform: rotate(35deg);
}
.rating-star:before {
    border-bottom: 16px solid yellow;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    position: absolute;
    height: 0;
    width: 0;
    top: -9px;
    left: -13px;
    display: block;
    content: '';
    transform: rotate(-35deg);
}
.rating-star:after {
    position: absolute;
    display: block;
    color: yellow;
    top: 1px;
    left: -21px;
    width: 0px;
    height: 0px;
    border-right: 20px solid transparent;
    border-bottom: 14px solid yellow;
    border-left: 20px solid transparent;
    transform: rotate(-70deg);
    content: '';
}